// --- Mixins --- //
$font-size: '';
$font-family: '';
$weight: '';
$color: '';

// --- Fonts --- //
$font-lato-regular: 'lato', sans-serif;
$font-lato-semibold: 'lato', sans-serif;
$font-lato-bold: 'lato', sans-serif;
$font-lato-heavy: 'lato', sans-serif;
$font-raleway-extrabold: 'raleway', sans-serif;

// --- Colors --- //
$color-white: #FFF;
$color-black: #000;
$color-header-bg: #10101D;
$color-btn-black: #2A2B30;
$color-blue-logo: #42A9ED;
$color-blue-nav: #43ABF0;
$color-blue-content: #3E9CDC;
$color-btn-border: #6F6D7B;
$color-main-black: #272733;
$color-main-dark: #BBB;
$color-main-range: #286690;
$color-footer-bg: #3D4050;
$color-footer-text: #C3C3C3;
